/******************************************************************************
     * Basic elements
******************************************************************************/

* {
	font-family: Arial, Helvetica, sans-serif;
	cursor: none;
}

body, html {
	color: #c7d1c2;
	overflow: hidden;
	margin: 0;
}

canvas {
	top: 0;
	left: 0;
	display: block;
	position: absolute;
}

a {
	color: #c7d1c2;
}

/******************************************************************************
	 * Containers		
******************************************************************************/

#counter, #title {
	background-color: rgba(0, 0, 0, .7);
	position: absolute;
	border: none;
	padding: 10px;
}

#title {
	left: 0;
	top: bottom;
}

#counter {
	right: 0;
	bottom: 10;
}

/******************************************************************************
	 * Fonts		
******************************************************************************/

h1 {
	font-size: 200%;
	margin: 10px 0 5px 0;
}

h2 {
	font-size: 100%;
	margin: 5px 0;
}

h3 {
	font-size: 300%;
	margin: 10px 0;
	font-weight: bold;
}
